.date-controls {
    display: inline;
    padding: 0.4rem 0 0.4rem 0;
}

.date-controls input {
    width: 7.5rem;
}

#maturity-from {
    float: left;
    padding-left: 0.2rem;
    padding-top: 0.3rem;
}

#maturity-to {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.3rem;
}