.dropdowns-controls {
    display: block;
    padding: 0.2rem 0 0.4rem 0.5rem;
}

.multiselect-override {
    margin-left: 4rem;
    width: 10rem;
    --rmsc-h: 1.2rem !important;
    --rmsc-radius: 1rem !important;
    --rmsc-border: black;
    font-size: smaller;
    font-weight: bolder;
} 

/* .dropdowns-controls pre {
    margin-top: 0;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif;
} */

.dropdowns-controls label {
    padding-top: 0.3rem;
    float: left;
}