.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    background-color: white;
}

.left-block {
    background-color: white;
    padding-left: 0.9rem;
}

.right-block {
    background-color: white;
}

.export-block {
    margin-left: -3rem;
    margin-top: 0.4rem;
}