.first-radio-div {
    margin-top: 0.5rem;
    margin-right: 1.2rem;
}

.second-radio-div {
    margin-top: 0.5rem;
    margin-right: -1.9rem;
}

.third-radio-div {
    margin-top: 0.5rem;
    margin-right: 0.48rem;
}

.radio-title-label {
    float: left;
}