.first-radio-div {
    margin-top: 0.5rem;
    margin-right: 1.2rem;
}

.first-radio-div input[type='radio']:checked:after, .second-radio-div input[type='radio']:checked:after, .third-radio-divinput [type='radio']:checked:after {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    top: 0px;
    left: -1px;
    position: relative;
    background-color: rgb(144, 19, 175);
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}

.second-radio-div {
    margin-top: 0.5rem;
    margin-right: -1.9rem;
}

.third-radio-div {
    margin-top: 0.5rem;
    margin-right: 0.48rem;
    margin-left: 0.25rem;
}

.radio-title-label {
    float: left;
}

#YASQ {
    padding-left: 0.5rem;
}