.input-controls {
    display: flex;
    flex-direction: row;
    padding: 0.3rem 0 0.3rem 0;
}

.input-controls input {
    border-radius: 1rem;
    border: 0.1px solid black;
    margin-right: 2rem;
    margin-left: 5.5rem;
    padding-left: 0.7rem;
    font-weight: normal;
}

.input-controls label {
    padding-top: 0.2rem;
}

#isin {
    margin-left: 6.4rem;
}

.input-controls input:focus, textarea:focus, select:focus{
    outline: none;
    background-color: rgb(235, 235, 235);
}